   /* 
    * 液晶字体
    * 使用方法：font-family: 'DFW';
   */
   @font-face {
     font-family: 'DFW';
     src: url('../../assets/fonts/digifaceWide.ttf');
     font-weight: bold;
     font-style: normal;
   }

   html,
   body {
     height: 100%;
   }

   section {
     height: 100%;
     width: 100%;
   }

   /* 去掉input自动填充的黄色背景 */
   input:-webkit-autofill {
     transition: background-color 5000s ease-in-out 0s;
     -webkit-box-shadow: 0 0 0px 1000px transparent inset;
     box-shadow: 0 0 0px 1000px transparent inset !important;
     /* -webkit-text-fill-color: #fff; */
   }


   /*滚动条凹槽的颜色，还可以设置边框属性 */
   ::-webkit-scrollbar-track-piece {
     background: transparent;
     -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
     border-radius: 2em;
   }

   /*滚动条的宽度和高度*/
   ::-webkit-scrollbar {
     width: 4px;
     height: 10px;
   }

   /*滚动条的设置*/
   ::-webkit-scrollbar-thumb {
     background: rgba(144, 147, 153, 0.5);
     background-clip: padding-box;
     -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
     border-radius: 2em;
   }

   /*滚动条鼠标移上去*/
   ::-webkit-scrollbar-thumb:hover {
     background: rgba(144, 147, 153, 0.5);
   }


   .icon:hover {
     color: #38B2FF !important;
   }

   /*一些重要特殊的日子，为了表示哀悼，需要将网页显示为灰色*/
   .theme-gray {
     filter: progid:DXImageTransform.Microsoft.BasicImage(graysale=1);
     -webkit-filter: grayscale(100%);
   }